body{
    background-color: black;
}

input { 
    text-align: right; 
}

.box{
    margin: auto;
    margin-top: 20px;
    background-color: rgba(241, 239, 234, 0.726);
    border: 2px solid black;
    width: 180px;
    height: auto;
    border-radius: 15px;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: #d6d6d6 !important;
}

#fresult{
    width: 100%;
    border-radius: 15px;
    background-color:rgba(221, 213, 213, 0.897);
}

.row{
    padding: 6px;
}